/nbproject/
/thinkphp/
/vendor/
/runtime/*
/addons/*
/application/admin/command/Install/*.lock
/public/assets/libs/
/public/assets/addons/*
/public/uploads/*
.idea
composer.lock
*.log
*.css.map
!.gitkeep
.env
.svn
.vscode

/application/extra
/application/route.php
/application/common/controller/Api.phpapplication/config.php
/public/assets/js/backend/general/crontab.js